.demos {
	display: flex;
	width: 100%;
	overflow: auto;
	background-color: var(--theme-background-secondary);
}

.demo-list {
	flex: 1;
	/*min-width: 25rem;*/
	max-width: 50%;
}

.demo-view {
	flex: 2;
	overflow: hidden;
	position: relative;
}

.demo-view>canvas {
	margin: 0px;
	flex: 1;
	background: linear-gradient(45deg, rgb(40, 40, 40) 25%, transparent 25%, transparent 75%, rgb(40, 40, 40) 75%) 0px 0px / 1rem 1rem, linear-gradient(45deg, rgb(40, 40, 40) 25%, rgb(24, 23, 23) 25%, rgb(24, 23, 23) 75%, rgb(40, 40, 40) 75%) 0.5em 0.5em / 1em 1em;
}

.demo-view>.stats {
	position: absolute;
	top: 0.2rem;
	left: 0.2rem;
	pointer-events: none;
}

#demo-content {
	position: absolute;
	top: 0.2rem;
	right: 0.2rem;
	pointer-events: none;
}

#demo-content * {
	pointer-events: all;
}
