.demos {
	display: flex;
	width: 100%;
	overflow: auto;
	background-color: var(--theme-background-secondary);
}

.demo-list {
	flex: 1;
	/*min-width: 25rem;*/
	max-width: 50%;
}

.demo-view {
	flex: 2;
	overflow: hidden;
	position: relative;
}

.demo-view>canvas {
	margin: 0px;
	flex: 1;
}

.demo-view>.stats {
	position: absolute;
	top: 0.2rem;
	left: 0.2rem;
	pointer-events: none;
}

#demo-content {
	position: absolute;
	top: 0.2rem;
	right: 0.2rem;
	pointer-events: none;
}

#demo-content * {
	pointer-events: all;
}
